body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #816666;
}

.table-container {
    max-width: 1200px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    color: white;
}
.pagination {
    margin-top: 20px;
}
.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}